body {
    background-color: #262b7c;
}

.title {
    font-family: "Montagu Slab", serif;
    font-size: 8em;
    line-height: 95%;
    color: #ededed;
    text-align: center;
    margin: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.regular-text {
    font-family: "Montagu Slab", serif;
    font-size: .75em;
    color: #ededed;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

#lunch-question {
    border: 3px solid #ededed;
    font-size: 1.75em;
    padding: 5%;
    display: flex;
    flex-direction:column;
    align-items: center;
    white-space: nowrap;
    border-radius: 20px;
}

.lunch-choices {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 3; 
    gap: 20%;
}

.lunch-choices button.active {
    background-color: #ffcc66; /* highlight color */
    border-color: #e6a400;
    font-size: 4em;
  }

button {
    padding: 10px 30px;
    margin-bottom: 15px;
}

/* #canvas-container {
    width: 90%;   
    height: 500px; 
    margin-bottom: 10px;
} */